/** @format */

:root {
    /* Colors */
    --lc-dark-charcoal: rgba(0, 0, 0, 1);
    --lc-deep-maroon: rgba(30, 22, 22, 1);
    --lc-plum-purple: rgba(54, 32, 48, 1);
    --lc-burnt-rose: rgba(82, 59, 64, 1);
    --lc-gold: rgba(255, 213, 105, 1);
    --lc-light-blue: rgba(98, 171, 212, 1);
    --lc-dull-gold: rgba(209, 133, 30, 1);
    --lc-muted-blue: rgba(167, 209, 230, 1);
    --lc-ivory: rgba(255, 241, 204, 1);
    --lc-ash-grey: rgba(144, 145, 158, 1);
    --lc-warm-brown: rgba(107, 54, 19, 1);
    --lc-coral-pink: rgba(207, 104, 109, 1);

    --lc-canvas: rgba(15, 5, 5, 1);

    /* Spacing */
    --ll-xs: 0.25rem;
    --ll-sm: 0.5rem;
    --ll-md: 1rem;
    --ll-lg: 1.5rem;
    --ll-xl: 2rem;

    /* Font */
    --lf-xs: 0.625rem;
    --lf-sm: 0.875rem;
    --lf-md: 1rem;
    --lf-lg: 1.15rem;
    --lf-xl: 1.5rem;
    --lf-2xl: 2rem;

    /* Border */
    --lb-sm: 0.25rem;
    --lb-md: 0.5rem;

    /* Components */
    --comp-scene-bg: var(--lc-deep-maroon);
    --comp-scene-border: var(--lc-dark-charcoal);

    --comp-ui-button-bg: var(--lc-plum-purple);
    --comp-ui-button-text: white;
    --comp-ui-button-border: var(--lc-burnt-rose);
    --comp-ui-button-border-hover: var(--lc-dull-gold);

    --comp-hero-panel-bg: var(--lc-plum-purple);

    --comp-display-panel-bg: var(--lc-plum-purple);
    --comp-display-panel-border: var(--lc-dull-gold);
}

body {
    overscroll-behavior: none;
    background: var(--lc-dark-charcoal);
    overflow: hidden;
    font-family: "Press Start 2P", system-ui;
    color: var(--lc-ivory);
    line-height: 1.5;
}

#root {
    height: 100svh;
    width: 100svw;

    display: grid;
    place-items: center;

    overflow: hidden;
}

#game {
    width: 100vw;
    aspect-ratio: 16 / 9;
    max-height: 100vh;
    max-width: 1024px;
}

.full-w {
    width: 100%;
}

.full-h {
    height: 100%;
}

.auto-w-link {
    & > a {
        width: auto;
    }
}

.w-sm {
    width: var(--ll-sm);
}

.w-md {
    width: var(--ll-md);
}

.w-xl {
    width: var(--ll-xl);
}

.h-sm {
    height: var(--ll-sm);
}

.h-md {
    height: var(--ll-md);
}

.h-xl {
    height: var(--ll-xl);
}

.claim-right {
    margin-right: auto;
}

.claim-left {
    margin-left: auto;
}

.stack {
    display: flex;
    position: relative;

    &.vertical {
        flex-direction: column;

        &.even {
            justify-content: space-evenly;
        }

        &.between {
            justify-content: space-between;
        }

        &.around {
            justify-content: space-around;
        }

        &.center {
            justify-content: center;
        }
    }

    &.horizontal {
        flex-direction: row;

        &.even {
            justify-content: space-evenly;
        }

        &.between {
            justify-content: space-between;
        }

        &.around {
            justify-content: space-around;
        }

        &.center {
            align-items: center;
        }

        &.start {
            align-items: start;
        }

        &.end {
            align-items: end;
        }
    }

    &.all {
        justify-content: center;
        align-items: center;
    }

    &.tight {
        gap: var(--ll-sm);
    }

    &.relaxed {
        gap: var(--ll-md);
    }

    &.loose {
        gap: var(--ll-lg);
    }

    & .grow {
        flex-grow: 1;
    }
}

.container {
    padding-inline: var(--ll-md);
    padding-block: var(--ll-sm);
}

.text {
    &.tiny {
        font-size: var(--lf-xs);
    }

    &.small {
        font-size: var(--lf-sm);
    }

    &.normal {
        font-size: var(--lf-md);
    }

    &.large {
        font-size: var(--lf-xl);
    }

    &.center {
        text-align: center;
    }

    &.right {
        text-align: right;
    }

    &.dark {
        color: var(--lc-dark-charcoal);
    }

    &.light {
        color: var(--lc-ivory);
    }

    &.contrast {
        color: var(--lc-light-blue);
    }

    &.legible {
        color: var(--lc-ivory);
        text-shadow: 1px 1px var(--lc-dark-charcoal);
    }

    &.highlight {
        // font-size: var(--lf-2xl);
        color: var(--lc-gold);
        text-shadow: 1px 1px var(--lc-dark-charcoal);
    }

    &.offset-sm {
        padding-top: var(--ll-xs);
    }

    &.inline {
        white-space: nowrap;
    }
}

.menu-text {
    background: var(--lc-dark-charcoal);
    opacity: 0.75;
    align-self: end;
    padding: var(--ll-sm);
}

.list-container {
    display: grid;
    place-items: center;

    & ul {
        height: 100%;
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;

        gap: var(--ll-md);

        & li {
            display: flex;
            width: 100%;
            justify-content: stretch;
        }
    }
}

/* Scene */
.scene {
    position: relative;
    width: 100%;
    height: 100%;
    border: var(--lb-md) double var(--comp-scene-border);
    background: var(--comp-scene-bg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* UiButton */
.ui-button {
    padding: var(--ll-sm) var(--ll-md);
    background: var(--comp-ui-button-bg);
    border: var(--lb-sm) solid var(--comp-ui-button-border);
    color: var(--comp-ui-button-text);
    width: 100%;
    display: flex;
    text-decoration: none;
    box-shadow:
        0px 4px var(--comp-ui-button-border),
        inset 2px 2px 2px var(--lc-dark-charcoal);

    & span {
        flex-grow: 1;
    }

    &:hover,
    &:focus {
        border-color: var(--comp-ui-button-border-hover);
        transform: translate(0px, 0.1rem);
    }

    &:active {
        transform: translate(0px, 0.25rem);
    }

    &.disabled {
        background: var(--lc-ash-grey);

        &:hover,
        &:focus,
        &:active {
            transform: unset;
            border: var(--lb-sm) solid var(--comp-ui-button-border);
            color: inherit;
        }
    }
}

.hero-stats {
    padding: 0 var(--ll-sm);
    z-index: 1000;
    letter-spacing: 3px;
    user-select: none;
}

.hero-panel {
    flex-grow: 1;
    background: var(--comp-hero-panel-bg);
    max-width: 33svw;
    min-width: 400px;
}

.game-board {
    position: absolute;
    inset: 0;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    margin: auto;
}

.loot-display {
    position: absolute;
    inset: 5%;

    display: grid;
    place-items: center;
    z-index: 10;

    & .display-panel {
        background: var(--comp-display-panel-bg);
        padding: var(--ll-xl);
        border: 2px solid var(--comp-display-panel-border);

        & img {
            display: inline;
            scale: 1.5;
            translate: var(--ll-xs);
        }
    }
}

.loot-list {
    overflow-x: hidden;
    overflow-y: auto;
}

.loot-card {
    background: var(--lc-deep-maroon);
    border: 2px solid var(--lc-burnt-rose);
    padding: var(--ll-sm);

    & > a {
        width: unset;
    }

    & img {
        display: inline;
        scale: 1.5;
    }
}

.artifact-list {
    overflow-x: hidden;
    overflow-y: auto;
}

.artifact-card {
    padding: var(--ll-lg);
    background: var(--lc-burnt-rose);
    outline: 4px double var(--lc-light-blue);
    outline-offset: -8px;
    border: 2px solid var(--lc-burnt-rose);
    border-radius: 1px;

    & img {
        width: 64px;
        height: 64px;
        filter: drop-shadow(2px 4px 6px var(--lc-light-blue));
    }
}

.stats-panel {
    width: 100%;
    max-width: 550px;
    margin-inline: var(--ll-md);
    background: var(--lc-plum-purple);
    padding: var(--ll-md);
    border: var(--ll-xs) solid var(--lc-dull-gold);
}

.options-panel {
    width: 100%;
    max-width: 550px;
    margin-inline: var(--ll-md);
    background: var(--lc-plum-purple);
    padding: var(--ll-md);
    border: var(--ll-xs) solid var(--lc-dull-gold);
}

.instructions-panel {
    width: 100%;
    max-width: 550px;
    margin-inline: var(--ll-md);
    padding-block: var(--ll-md);
    overflow-y: auto;
    line-height: 2;
}

/* UiInput[type=range] */
.ui-input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: var(--ll-md);
    background: var(--lc-plum-purple);
    border-radius: var(--lb-sm);
    border: var(--lb-sm) solid var(--lc-burnt-rose);
    outline: none;
    padding: 0;
    margin: var(--ll-sm) 0;
    cursor: pointer;

    &:focus {
        border-color: var(--lc-dull-gold);
    }

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: var(--ll-sm);
        cursor: pointer;
        background: var(--lc-plum-purple);
        border-radius: var(--lb-sm);
        box-shadow: inset 2px 2px 2px var(--lc-dark-charcoal);
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: var(--lf-lg);
        width: var(--lf-lg);
        background: var(--lc-gold);
        border-radius: 50%;
        box-shadow: 0px 2px 4px var(--lc-dark-charcoal);
        margin-top: calc(-1 * (var(--ll-sm) / 2));
        transition:
            background 0.3s ease,
            transform 0.3s ease;
    }

    &::-moz-range-track {
        width: 100%;
        height: var(--ll-sm);
        cursor: pointer;
        background: var(--lc-plum-purple);
        border-radius: var(--lb-sm);
        box-shadow: inset 2px 2px 2px var(--lc-dark-charcoal);
    }

    &::-moz-range-thumb {
        height: var(--lf-lg);
        width: var(--lf-lg);
        background: var(--lc-gold);
        border-radius: 50%;
        box-shadow: 0px 2px 4px var(--lc-dark-charcoal);
        transition:
            background 0.3s ease,
            transform 0.3s ease;
    }

    &:hover::-webkit-slider-thumb,
    &:focus::-webkit-slider-thumb {
        background: var(--lc-dull-gold);
        transform: scale(1.1);
    }

    &:hover::-moz-range-thumb,
    &:focus::-moz-range-thumb {
        background: var(--lc-dull-gold);
        transform: scale(1.1);
    }
}

/* UiInput[type=checkbox] */
.ui-input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--lf-lg);
    height: var(--lf-lg);
    background: var(--lc-plum-purple);
    border: var(--lb-sm) solid var(--lc-burnt-rose);
    border-radius: var(--lb-sm);
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition:
        background 0.3s ease,
        border-color 0.3s ease,
        transform 0.3s ease;

    &:checked {
        background: var(--lc-gold);
        border-color: var(--lc-dull-gold);
    }

    &:hover {
        border-color: var(--lc-dull-gold);
    }

    &:focus {
        outline: none;
        border-color: var(--lc-dull-gold);
    }

    &:checked::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        height: 50%;
        background: var(--lc-dark-charcoal);
        border-radius: var(--lb-sm);
        transform: translate(-50%, -50%);
    }

    &:hover:checked::before,
    &:focus:checked::before {
        background: var(--lc-ivory);
    }

    &:disabled {
        background: var(--lc-ash-grey);
        border-color: var(--lc-ash-grey);
        cursor: not-allowed;
    }

    &:disabled::before {
        background: var(--lc-ash-grey);
    }
}

.attribute-btn {
    position: relative;
    background: none;
    border: none;
    aspect-ratio: 1 / 1;

    border: var(--ll-xs) solid var(--lc-gold);
    background: var(--lc-burnt-rose);
    color: var(--lc-ivory);
    box-shadow:
        0px 4px var(--comp-ui-button-border),
        inset 2px 2px 2px var(--lc-dark-charcoal);

    &:hover,
    &:focus {
        transform: translateY(1px);
        box-shadow:
            0px 3px var(--comp-ui-button-border),
            inset 2px 2px 2px var(--lc-dark-charcoal);
        cursor: pointer;
    }

    &:active {
        transform: translateY(2px);
        box-shadow:
            0px 2px var(--comp-ui-button-border),
            inset 2px 2px 2px var(--lc-dark-charcoal);
    }

    &:not([disabled]):after {
        content: "+1";
        position: absolute;
        font-size: var(--lf-xs);
        background: var(--lc-light-blue);
        left: calc(100% - var(--ll-xs));
        bottom: calc(100% - var(--ll-xs));
    }

    &[disabled] {
        border: var(--ll-xs) solid var(--lc-muted-blue);
        box-shadow: none;
        transform: none;
        cursor: unset;
    }
}

.hero-name {
    background: var(--lc-plum-purple);
    padding-block: var(--ll-sm);
    border: none;
    box-shadow: 2px 2px 0px var(--lc-ivory);
}

.tag {
    background: var(--lc-warm-brown);
    color: var(--lc-ivory);
    padding: var(--ll-xs) var(--ll-sm);
    border: var(--lb-sm) solid var(--lc-dull-gold);
    white-space: nowrap;
    transition:
        background 0.3s ease,
        transform 0.3s ease;
}

.social-links {
    position: absolute;
    top: 0;
    right: 0;
    margin: var(--ll-sm);
    z-index: 1000;
}
