.ui-checkbox {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    &.reversed {
        flex-direction: row-reverse;

        & > div {
            text-align: right;
        }
    }

    & > div {
        text-align: left;
        flex-grow: 1;
    }

    & > span {
        width: 4rem;
    }

    input {
        appearance: none;
    }

    .ui-checkbox-input {
        margin: auto;
        border: 2px double var(--light-grey-50);
        background: var(--darkest-grey);
        display: grid;
        place-items: center;

        &.disabled {
            background: var(--dark-grey);
        }

        &:hover:not(.disabled) {
            border-color: var(--pale-yellow);
        }

        .check-mark {
            font-size: 0.85rem;
            display: none;
            color: var(--light-grey);
        }

        &.checked {
            .check-mark {
                display: block;
            }
        }

        &.sm {
            width: 1.25rem;
            height: 1.25rem;

            .check-mark {
                font-size: 0.9rem;
            }
        }

        &.md {
            width: 1.75rem;
            height: 1.75rem;

            .check-mark {
                font-size: 1.25rem;
            }
        }
    }
}
