/** @format */

.ui-heading {
    margin: 0;
    padding: 0;

    &.sm {
        font-size: 1.5rem;
        line-height: 1.25rem;
    }

    &.md {
        font-size: 2.5rem;
        line-height: 2.25rem;
        text-shadow:
            1px 1px black,
            2px 2px var(--light-grey);
    }

    &.lg {
        font-size: 3rem;
        line-height: 2.75rem;
        text-shadow:
            1px 1px black,
            2px 2px var(--light-grey);
    }
}
