.ui-slider {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;

    gap: 1rem;

    &.reversed {
        flex-direction: row-reverse;

        & > div {
            text-align: right;
        }
    }

    & > div {
        display: grid;
        align-items: center;
        text-align: left;
    }

    & > span {
        width: 4rem;
    }

    & > input {
        width: -webkit-fill-available;
        position: relative;
        height: 0px;
        margin: auto;
        appearance: none;
        background: none;
        border: 0.125rem double var(--light-grey-50);

        outline: none;

        &:active,
        &:focus {
            border-color: var(--light-grey);
        }

        @mixin thumb() {
            appearance: none;
            height: 0.75rem;
            aspect-ratio: 1 / 1;
            border: 2px double var(--light-grey);
            rotate: 45deg;
            background: var(--darkest-grey);
            cursor: grab;

            &:hover,
            &:active {
                scale: 1.2;
                border-color: var(--pale-yellow);
            }
        }

        &::-moz-range-thumb {
            @include thumb;
        }

        &::-webkit-slider-thumb {
            @include thumb;
        }
    }
}
