.ui-input-range {
    // height: 0;
    // appearance: none;
    // -webkit-appearance: none;

    // outline: none;
    // cursor: pointer;

    // border: 2px double var(--light-grey-50);

    // flex-grow: 1;

    // &::-webkit-slider-thumb {
    //     -webkit-appearance: none;
    //     width: 1rem;
    //     height: 1rem;
    //     border: 0.125rem double var(--light-grey);
    //     border-radius: 50%;
    //     background: var(--darkest-grey);
    //     transition: 0.25s ease;
    // }

    // &::-moz-range-thumb {
    //     width: 1rem;
    //     height: 1rem;
    //     border: 0.125rem double var(--pale-yellow);
    //     border-radius: 50%;
    //     background: var(--darkest-grey);
    //     transition: 0.25s ease;
    // }

    // &:hover::-webkit-slider-thumb,
    // &:focus::-webkit-slider-thumb,
    // &:active::-webkit-slider-thumb {
    //     border-color: var(--pale-yellow);
    // }

    // &:hover::-moz-range-thumb,
    // &:focus::-moz-range-thumb,
    // &:active::-moz-range-thumb {
    //     background: var(--pale-yellow);
    // }
}

.ui-slider {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    &.reversed {
        flex-direction: row-reverse;

        & > div {
            text-align: right;
        }
    }

    & > div {
        text-align: left;
        flex-grow: 1;
    }

    & > span {
        width: 4rem;
    }

    & > input {
        position: relative;
        flex-grow: 2;
        height: 0px;
        margin: auto;
        appearance: none;
        background: none;
        border: 0.125rem double var(--light-grey-50);

        outline: none;

        &:active,
        &:focus {
            border-color: var(--light-grey);
        }

        @mixin thumb() {
            appearance: none;
            height: 0.75rem;
            aspect-ratio: 1 / 1;
            border: 2px double var(--light-grey);
            rotate: 45deg;
            background: var(--darkest-grey);
            cursor: grab;

            &:hover,
            &:active {
                scale: 1.2;
                border-color: var(--pale-yellow);
            }
        }

        &::-moz-range-thumb {
            @include thumb;
        }

        &::-webkit-slider-thumb {
            @include thumb;
        }
    }
}
